@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

.dark {
  color: #ffffff;
  background-color: #0d151c;
}

.light {
  color: #000000;
  background-color: #e3ebf2;
}
